@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


:root{
  --color-black: #343434;
  --color-light-grey: #c4c4c4;
  --color-background-nav: #fff5f2;
  --color-background-hover: #f6edea;
  --color-background-drawers: #fff5f2;
  --color-accent-one: #fae9e4;
  --color-accent-two: #ffeee9;
  --background-color: #e8eaec;
  background-color: #e8eaec;

}

*{
  font-family: 'Roboto', sans-serif;
  color: var(--color-black);
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  list-style: none;
}
 li, ul{
  display: inline-block;
 }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

svg{
  cursor: pointer;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
}

.icon{
  justify-self: center;
}

.rating{
  display: inline-flex;
  align-items: center;
  position: relative;
  top: .25rem;
}

.nothing{
  margin: auto;
  border: 1px solid var(--color-light-grey);
  color: var(--color-light-grey);
  padding: 5rem 1rem;
  border-radius: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}




